mixin s-style()
	// start s-style
	+b.SECTION.s-style.section.block-with-lazy#s-style&attributes(attributes)
		.container
			+b.section-title
				h2 Найди свой стиль
				+e.text Выбирайте спортивную одежду с яркой индивидуальностью
			.row
				mixin item(i,t1, t2, p)
					+e.col.col-6
						+e.item()
							+e.img-wrap(href="#")
								+piclazy('bg','style-'+i) 
								+e.btn= t2
							.strong= t1
							p= p
					// /+e.col.col-6
				+item('1','Для мужчин','Одежда для мужчин','которые ценят функциональность')
				+item('2','Для женщин','Одежда для женщин','которые создают настроение')

	// end s-style