mixin s-about()
	// start s-about
	+b.SECTION.s-about.section.block-with-lazy#s-about(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )&attributes(attributes)
		.container
				
			.row
				.col-lg-auto
					+e.img-wrap
						+piclazy('','about-img','png')
				.col
					+b.section-title
						h2 О бренде
					p live in&nbsp;motion! &mdash;&nbsp;линия одежды для спорта и&nbsp;активного отдыха. Мы&nbsp;считаем, что экипировка должна быть удобной, практичной, красивой  и&nbsp;вдохновлять на&nbsp;новые достижения, поэтому разрабатываем ее&nbsp;с&nbsp;большим вниманием к&nbsp;каждой детали.
					+e.btn(href="#") Узнать больше
	// end s-about