
.custom-scroll{
	 		@include media-breakpoint-up(sm) {


	 			// scrollbar-width: thin;
	 			scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.2);

	 			&__items::-webkit-scrollbar,
	 			&::-webkit-scrollbar {
	 				width: 12px;
	 				height: 12px;
	 				background-color: rgba(0, 0, 0, 0.03);
	 				/* or add it to the track */
	 				border-color: rgba(0, 0, 0, 0.03);
	 				// opacity: 0;
	 				// -webkit-box-shadow: none;
	 			}

	 			/* Add a thumb */
	 			&__items::-webkit-scrollbar-thumb,
	 			&::-webkit-scrollbar-thumb {
	 				border-radius: 6px;
	 				background-color: rgba(0, 0, 0, 0.5);
	 				position: relative;
	 				background-image: url(../img/svg/arrow-top.svg),
	 					url(../img/svg/arrow-down.svg);
	 				background-position: center 5px,
	 					center calc(100% - 5px);
	 				background-repeat: no-repeat;
	 				background-size: 60%;
	 				max-height: 86px;
	 				cursor: pointer;

	 			}

	 			&__items::-webkit-scrollbar-button,
	 			&::-webkit-scrollbar-button {
	 				display: none
	 			}
	 		}
}

html {
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

img {
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimizeSpeed;
}

.screen {
	top: 0;
	@include a-cent(x);
	display: block;
	pointer-events: none;
	z-index: 1000;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-position: center 0;
	opacity: 0;
	// opacity: 0.7;
}

.header-block__slide {
	// height: 1000px !important;
	// padding-top: 160px !important;
}

body,
html {

	// @include media-breakpoint-up(xxl) {

	// 	font-size: 22px;
	// }

	@include media-breakpoint-up(xl) {

		font-size: 22px;
	}

	@include media-breakpoint-up(lg) {

		// font-size: $em-base;
	}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {
		font-size: 18px;
	}

	font-size: 14px;
	// @include font-size(1rem);
}

body {
	min-width: 320px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include mt;
		// background-color: #000000;
		opacity: 0;
		z-index: -1;
		top: 0;
	}

	// padding-right: calc(100vw - 100% );
	&.basket-fix,
	&.fixed {
		overflow: hidden;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 999;

		@include media-breakpoint-up(sm) {

			// padding-right: 17px;
		}

		&::before {
			z-index: 999;
			opacity: 0.76;
		}
	}
}

:root {
	--spt: #{rem(36)};

	@include media-breakpoint-up(xl) {

		--spb: 20px;
	}

	@include media-breakpoint-up(sm) {

		--spb: #{rem(30)};
	}


	--spb: #{rem(36)};
}

.section {

	@include bgs;

	padding-top: var(--spt);
	padding-bottom: var(--spb);

	h2 {
		@include media-breakpoint-up(lg) {

			font-size: 50px;
		}

		@include media-breakpoint-up(sm) {

			font-size: 32px;
		}

		font-size: 24px;
	}
}

:root {
	// --pt: #{rem(40)};
	// --pb: #{rem(30)};

	--pt: #{rem(22)};
	--pb: #{rem(20)};

	@include media-breakpoint-up(sm) {
		--pt: #{rem(52)};
		--pb: #{rem(50)};

	}

	@include media-breakpoint-up(md) {
		// --pt: #{rem(52)};
		// --pb: #{rem(50)};

	}

}

.section--lg {


	padding-top: var(--pt);

	@include media-breakpoint-up(lg) {

		padding-bottom: calc(var(--spb) + #{rem(12px)});
	}

	padding-bottom: calc(var(--spb) + #{rem(8px)});

}

.section-title {


	padding-bottom: rem(22);

	>h2 {
		margin-bottom: 2px;

		@include media-breakpoint-up(md) {}
	}
}


// @include media-breakpoint-up(lg) {
// 	.container {
// 		// padding-left: 0;
// 		// padding-right: 0;
// 	}
// }



.mono {
	font-family: $font-family-monospace;
}

.small {
	@include media-breakpoint-up(sm) {

		font-size: $small;
	}

	font-size: 12px;
}

.tdn {
	text-decoration: none !important;
}

.ttu {
	text-transform: uppercase;
}

.tdu {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.ttu {
	text-transform: uppercase;
}

.fw-300 {
	font-weight: 300;
}

.fw-500 {
	font-weight: 500;
}

.fw-900 {
	font-weight: 900;
}

.row--small {
	@include roww(10)
}


.main-wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.slick-slide img {
	display: inline
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom {

	.mfp-container,
	&.mfp-bg {
		opacity: 0;
		backface-visibility: hidden;

		transition: all 0.3s ease-out;
	}

	&.mfp-ready {
		.mfp-container {
			opacity: 1;
		}

		&.mfp-bg {
			opacity: 0.8;
		}
	}

	&.mfp-removing {

		.mfp-container,
		&.mfp-bg {
			opacity: 0;
		}
	}
}

/**
 * Simple fade transition,
 */
.mfp-fade.mfp-bg {
	opacity: 0;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}

/* start state */

.my-mfp-zoom-in {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.4s ease-in-out;
		transform: scale(0.8);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: scale(1);
	}

	&.mfp-removing .zoom-anim-dialog {
		transform: scale(0.8);
		opacity: 0;
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.6s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: .4;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}

.my-mfp-slide-bottom {
	.zoom-anim-dialog {
		opacity: 0;
		transition: all 0.4s ease-out;
		transform: translateY(-20px) perspective(600px) rotateX(10deg);
	}

	&.mfp-ready .zoom-anim-dialog {
		opacity: 1;
		transform: translateY(0) perspective(600px) rotateX(0);
	}

	&.mfp-removing .zoom-anim-dialog {
		opacity: 0;
		transform: translateY(-10px) perspective(600px) rotateX(10deg);
	}

	&.mfp-bg {
		opacity: 0;
		transition: opacity 0.6s ease-out;
	}

	&.mfp-ready.mfp-bg {
		opacity: 0.8;
	}

	&.mfp-removing.mfp-bg {
		opacity: 0;
	}
}


.slick-slide {
	outline: 0 !important;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
	cursor: pointer;

	i {
		line-height: 1;

	}

	cursor: pointer;

	&.l {
		left: 0;

		svg {
			@include transform(rotateY(180deg));
		}
	}

	&.r {
		right: 0;

	}

	svg {
		width: 17px;
		height: auto;
	}
}

input,
textarea {
	@include input-placeholder {
		// color: red;
	}

	;
}

.strong {
	font-weight: bold;
}

ul {
	padding-left: 0;
}

.res-i {
	max-width: 100%;
	width: auto;
	height: auto;
}

.img-bg {
	@include img-bg();
}

.bgs {
	@include bgs();
}

.table {
	display: table
}

.tr {
	display: table-row
}

.td {
	display: table-cell
}

.tabs-sub,
.tabs {
	&__btn {
		&:hover {
			cursor: pointer;
		}

	}

	&__content {
		&.active {
			display: block;
		}

		display: none;
	}
}

.tabs__content-data {
	&.active {
		display: block;
	}

	display: none;
}


select.form-control {
	background-image: url(../img/svg/chevron-up.svg);
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) 50%; // background-size: rem(18) ;
	padding-right: rem(43px);
	appearance: none !important;

	&:not([size]):not([multiple]) {
		height: $input-height;
	}

	&:focus::-ms-value {}
}


input[type='number'] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.invisible {
	position: absolute;
	// opacity: 0;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

// .lazy-bg,
// img.lazy{
//   -webkit-filter: blur(5px);
//   filter: blur(5px);
//   transition: filter 400ms, -webkit-filter 400ms;

// }
// .lazyloaded{
//   filter: blur(0);
// }
// img{
// 	display: block;
// }

// picture{
// 	// display: inline-block;
// 	display: block;
// 	img{
// 		// width: 100%;
// 	}
// }



.control-wrap {
	position: relative;
}

.swiper-button-hand {

	@include bgs;
	z-index: 300;
	outline: none !important;
	// margin-bottom: 0;
	background-image: none;
	margin: 0;
	@include a-cent(y);
	width: rem(19px);
	height: rem(38px);

	&-next {
		background-image: url(../img/svg/chevron-right.svg);
		right: 0;
	}

	&-prev {
		left: 0;
		background-image: url(../img/svg/chevron-left.svg);
		// background-image: url(../img/arr-left.png);

	}

	&:hover {
		opacity: 0.7;
	}

}

.swiper-pagination {
	width: 100%;
	text-align: center;

	&-bullet {
		opacity: 1;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: $secondary;
		outline: none !important;
		@include mt;
		margin-left: rem(8);
		// padding-right: rem(8);
		margin-right: rem(5);

		&-active,
		&:hover {
			background-color: $primary;
		}
	}
}




@include media-breakpoint-up(lg) {

	.wow {
		visibility: hidden;

	}
}


picture {
	display: block;
	// display: flex;
	width: 100%;
	height: 100%;

	// background: linear-gradient(0deg, rgba(50, 204, 145, 0.4), rgba(50, 204, 145, 0.4));
	img {
		@extend .res-i;
	}

	img.object-fit-js {
		height: 100%;
		width: 100%;
		// max-width: 100%;
		display: block;
		object-fit: cover;
	}
}

.object-fit-js img {
	object-fit: cover;
	object-position: top;
	font-family: 'object-fit: cover; object-position: top;';
}

.btn {
	width: rem(262);

	// width: rem(262 * $m);
	@include media-breakpoint-up(sm) {}
}

.btn-primary {
	@extend .btn;
	@extend .btn-primary;
}

.btn-outline {
	@extend .btn;
	@extend .btn-outline;
}

.btn-outline-primary {
	@extend .btn;
	// @extend .btn-primary;
	@extend .btn-outline-primary;
}



.alert {
	padding: 0.5rem;
	text-align: center;
	margin-top: .5rem;

	&--success {
		background: #E0FFC8;
	}

	&--danger {
		background: #FFDDDD;
	}

}


h1 {
	@include media-breakpoint-up(sm) {

		font-size: 64px !important;
	}

	font-size: 32px !important;


}

.page-title {
	padding-bottom: rem(18);

	.select2-results__option,
	.select2-container--default .select2-selection--single {

		text-transform: none;
	}

	h1 {
		// min-width: rem(360);
		padding-bottom: rem(20);
	}

	// h1{
	// 	margin-bottom: 0;
	// }
	&__item {
		margin-bottom: 1.2rem;

		// margin-right: rem(100);
		@include media-breakpoint-up(xl) {

			margin-bottom: .9rem;
			margin-top: rem(35);
		}

		margin-top: rem(15);
		display: flex;
		align-items: center;
		line-height: 1;

		.small {

			font-weight: 700;
		}

		// font-size: $small;

	}

	&__color {
		@include media-breakpoint-up(xl) {

			width: rem(40px);
			height: rem(16px);
			margin-right: rem(12);
		}

		width: rem(7px);
		height:98%;
		margin-right: rem(6);
	}



	.row--sm {
		@include roww(10)
	}

	&__btn-head {
		@extend .btn-outline;
		@extend .btn-sm;
		@extend .btn-block;
		width: auto;

		&:not(.page-title__btn-head--sm) {
			@include media-breakpoint-up(sm) {

				min-width: 110px;
				font-size: 14px;
				padding: 8px 5px;
			}

			min-width: rem(100);
			font-size: 12px;
			padding-left: 0;
			padding-right: 0;
			padding: 5px 1px;

		}

		margin-bottom: rem(20);

		&.active {
			opacity: 1 !important;
			background-color: $success;
		}

		&--sm {
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: rem(10);
			font-size: rem(14);

			&:not(.active) {
				border-color: transparent !important;
			}
		}
	}

	&__sub-category {
		@include media-breakpoint-up(xl) {

			border: 1px solid #E0E0E0;
			padding-top: rem(10);
			padding-left: rem(15);
			padding-right: rem(15);
		}

		.row {}

		.swiper-slide {
			width: auto;
		}

		.select2-container--default .select2-selection--single {
			border-top: none !important;
			border-left: none !important;
			border-right: none !important;

			@include media-breakpoint-up(md) {

				width: rem(330);
				height: 39px;
				padding: .2625rem .9rem;
			}

			padding: .6625rem .9rem;
			// height: 54px;
			min-height: 1px;
			margin-bottom: rem(10);
			// height: rem(43);
		}

	}
}

.catalog-page .select2-results__option {
	// text-transform: uppercase;
}

.catalog-page .select2-container--open .select2-dropdown--below {
	border-radius: 0;
}

.catalog-page .select2-container--default .select2-results>.select2-results__options {
	max-height: none;
	border-radius: 0;
}

button {
	outline: none !important;
}

.text-0 {
	color: #000000 !important;
}

@include media-breakpoint-down(xs) {
	.btn {
		font-size: 14px;
		padding-top: rem(18);
		padding-bottom: rem(18);
	}

	.section .basket {
		padding-bottom: rem(40);
	}
}

.section .basket {
	padding-bottom: rem(0);
}

.select2-container--default .select2-selection--single:focus{
	border-color: #C8C8C8
}




.form-wrap .bx-sls .bx-ui-sls-pane{
@extend .custom-scroll;
}

.mb-18{
	margin-bottom: rem(18) !important;
}



.ymaps-2-1-78-balloon__content {
	position: relative;
	z-index: 1;
	display: block;
	// /* min-width: 60px; */
	min-width: 1px !important;
	// height: 100%;
	min-height: 1px !important;
	/* min-height: 15px; */
	margin: 0 !important;
	padding: 0 !important;
	/* padding: 10px 12px; */
	background: #fff;
	font-family: $font-family-base !important;
}


