mixin sOther()
	// start sOther
	+b.SECTION.sOther.section.section--lg.block-with-lazy#sOther&attributes(attributes)
		.container
			if block
				block
			else
				+b.section-title(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` ) 
					h2 Другие ткани бренда&nbsp;Polartec®
				
			.row(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` ) 
				mixin col(i,t)
					+e.col.col-sm.col-4
						picture
							source( srcset=`img/@2x/webp/material-${i}.webp`)
							img.res-i(src=`img/@2x/material-${i}.jpg`, alt="")
						+e.logo
							img(src="img/@2x/materila-logo.png", alt="")
						+e.title=t
				+col("1",'POWER AIR ™')
				+col("2",'WIND PRO ™')
				+col("3",'HIGH LOFT ™')
				+col("4",'THERMAL PRO ™')
				+col("5",'DELTA ™')

	// end sOther