.s-checkout {
		 
	@include media-breakpoint-up(xl) {
		padding-top: rem(18);
		&__container{
			max-width: 980px;
		}

		&__left-col{
			flex: 0 0 70%;
    	max-width: 70%;
		}
	}
	.basket{
		.row{
			@include media-breakpoint-down(sm) {
				@include roww(5);
			}
		}
		&__img-wrap{ 
			width: rem(72px) !important; 
			margin-bottom: rem(9);
		}
		&__item{
			&:not(:first-child){
				padding-top: 0;
				// padding-top: rem(17);
			}
			margin-bottom: rem(17);
			padding-bottom: 0;
		}
		&__title{
			padding-bottom: rem(5);
		}
	}

	.form-wrap{

	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 
	.form-wrap{
		padding-top: rem(100);
		&__input{
			// text-transform: uppercase;
		}
	}
	textarea{
		height: rem(180);
	}
	.map-wrapper{
		@include media-breakpoint-up(lg) {

			@include block(944,500);
			min-height: 1px;
		}
		@include media-breakpoint-up(md) {
			min-height: 1082px;
		}
		position: relative;
		@include media-breakpoint-up(sm) {
			
			@include block(944,1082);
			min-height: 882px;
		}
		min-height: 515px;
		>*{
			position: absolute;
			left: 0;
			top: 0;
			width: 100% ;
			height: 100% ;
			border: none;
		}
	}
}

.s-checkout-gruop{
	.custom-input__sub-text{

	}
	padding-bottom: rem(55);
	&__head{
		text-align: center;
		padding-bottom: rem(17);
		
	}
	&__sm{
		
		font-size: $small;

		margin-left: auto;
		margin-right: auto;
		max-width: 518px;
		margin-bottom: rem(2);
		padding-top: rem(5);
	}
	&__title{
		font-size: $em-base;
		font-weight: 700;
		line-height: 1;

	}
	&__body{
		&.border{
			border: 1px solid $body-color;
			margin-bottom: rem(20);
		 
			justify-content: center;
			.row{
				align-items: center;

				.custom-input{ 
					&__lab{
					 
						background-color: #ffffff;
						&::after{
							width: rem(22);
							height: rem(22);
						}
					}

					font-size: $small;
					&__text{
						text-transform: uppercase;
						font-weight: bold;
						display: block;
					}
				}
			}
		}
	}
	 
	.custom-input__input[type="radio"]:checked + .custom-input__lab{
		&::after{
			opacity: 1;
			background-color: $success;
		}
	}
}
.form-wrap__row-wrap{
	@include media-breakpoint-up(lg) { 
		max-width: 100%;
	}
	@include media-breakpoint-up(sm)  {

		max-width: 360px;
	}
	margin-left: auto;
	margin-right: auto;
	

	padding-left: rem(20);
	padding-right: rem(20);
	padding-top: rem(60);
	padding-bottom: rem(40);
	.col-input{
		@include media-breakpoint-up(lg) {

			display: flex;
			justify-content: center;
		}
		label{
			width: initial;
		}
	}
}
.checkout-total-block{
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	background-color: #fafafa;
	padding-top: rem(46);
	padding-bottom: rem(60);
	margin-bottom: rem(80);
.container{
	@include media-breakpoint-up(sm){
		
		max-width: rem(357 + 30);
	}
	max-width: 280px;
}
.btn{
	width: 100%;
	max-width: 100%;
	margin-top: rem(10);
	margin-bottom: rem(20);
}
}

.total-block{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
	margin-top: rem(25);
	min-height: calc(100% - #{rem(40)});
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	.row{
		@include roww(5);
	}
	@include media-breakpoint-down(sm) {
	width: 100%;
	}
	@include media-breakpoint-up(md) {
		.container{
			// padding-left: 10px;
			// padding-right: 10px;
			max-width: 220px;
		}
		// position: absolute;
		position: relative;
		// top: 0;
		left: auto;
		bottom: auto;
		padding: rem(30) rem(5);
	}
	padding: rem(30) rem(0);
	// border-top: 1px solid $body-color;
	// border: 1px solid $body-color;
	left: 0;
	z-index: 200;
	background-color: #ffffff;
	bottom: 0;
	// position: fixed;
	.btn{
		width: 100%;
	}
	&__text{
		text-align: center;
		font-size: $small;
		font-weight: normal;
		margin-top: rem(70);
		position: relative;
		padding-bottom: rem(20);
		margin-bottom: rem(45);
		&::before{
			content: '';
			@include a-cent(x);
			top: 100%;
			@include triangle(32px,  $success, down);
		}
	}
}

.tab-block{
	&:not(.active){
		display: none;
	}
}

.check-block{
	.row{
		justify-content: center;
	}
	.custom-input{
		font-weight: bold;
		text-transform: uppercase;
		font-size: $small;
		&__lab{
			// top: 0;
		}
		// top: 0;
	}
	@include media-breakpoint-down(sm) {
		.custom-input{

			font-size: 9px;
		}
		.custom-input{
			padding-left: 0;
			text-align: center;
			&__lab{
				position: relative;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: rem(10);

			}
		}
	}
}

.checkout-warning{
	font-size: rem(14);
	background: #E6FFE3;
	border-left: 2px solid #ED1C24;
	padding: rem(20) rem(10);
}

.modal-marker{
	background: #FFFFFF;
	position: relative;
	&__close{
		cursor: pointer;
		position: absolute;
		top: 25px;
		right: 25px;
		.icon{
			color: $body-color;
			stroke: currentColor ; 
			font-size: 15px;
		}
	}
	&__inner{
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(md){
			max-width: none;
		}
		max-width: 250px;
	}
	padding: 25px 20px;
	@include media-breakpoint-up(md){
		padding: 40px;
		padding-right: rem(64);
		padding-bottom: 30px;
		
		max-width: 457px;
		box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.15),
		0px 0px 40px rgba(0, 0, 0, 0.15),
		0px 0px 16px rgba(0, 0, 0, 0.15);
		&::before{
			content: '';
			position: absolute;
			left: 32px;
			top: 100%;
			@include triangle(24px, #fff, down);
	
		}
	}
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	font-size: 12px;
	position: relative;
	.row{
		@include roww(12);
		max-width: (24px * 2 + 130px * 2);
	}
	
	&__btn{
		@extend .btn;
		// @extend .btn-sm;
		font-size: 14px;
		width: 100%;
		padding: rem(15) rem(10);
		&.btn-outline-primary{
			padding: rem(13) rem(10);

		}
		border-width: 2px;
	}

	&__foot{
		padding-top: 25px;
	}
}


.map-text-block{
	font-size: 12px;
		&__col.col-auto{
			width: 152px;
		}
		&__col,
		.col-6 {
			padding-bottom: 10px;
		}
&__title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 30px;
}

&__alert {
	color: $pink;
	font-weight: bold;
	margin-bottom: 35px;

}
}

.map-caption{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #ffffff;
	z-index: 2;
		@include media-breakpoint-up(sm) {

			padding: rem(38) rem(57) rem(50);
		}
		padding: rem(38) 0 rem(50);
	.btn-outline-primary{
		padding-left: rem(2);
		padding-right: rem(2);
	}
	&__inner{
		height: 100%;
		display: flex;
		flex-direction: column;
		@include media-breakpoint-down(sm){
			margin-left: auto;
			margin-right: auto;
			max-width: 270px;
		}

	}
		@include media-breakpoint-up(lg){

			padding-bottom: 70px;
		}
	display: flex;
	flex-direction: column;
	
	.map-text-block{
		flex-grow: 1;
		img{
				margin-bottom: 20px;
				display: block;

		}
		// &::before{
		// 	content: url(../img/svg/checkbox-lg.svg);
		// }
	}
		&__col.col-auto {
			width: 152px;
		}
			&__btn {
				@extend .btn;
				// @extend .btn-sm;
				font-size: 14px;
				width: 100%;
				padding: rem(15) rem(10);
				max-width: 176px;

				&.btn-outline-primary {
					padding: rem(13) rem(10);

				}

				border-width: 2px;
			}
			@include media-breakpoint-down(xs){
			.row,
			&__foot{
						@include roww(4)
					}
					.map-caption__col,
					.map-text-block__col.col-auto{
						width: 126px;
					}
				}
}
.s-checkout .map-wrapper{
	border: 1px solid #C8C8C8 ;
	.map-caption {
			@include media-breakpoint-up(lg){
				
				border: none;
				border-right: 1px solid #C8C8C8  ;
				
			}
			@include media-breakpoint-up(lg){
				
			}
			border-bottom: 1px solid #C8C8C8  ;
			@include media-breakpoint-up(lg){

				width: 50% ;
				height: 100% ;
			}
				@include media-breakpoint-up(md){

					height: 402px;
				}
				height: inherit;

	}

}

.map-text-block{
	&__group-link{
		display: inline-flex;
		align-items: center;
		@extend .text-secondary;
		font-size: 14px;
		span{
			border-bottom: 1px solid ;
			@include mt;
		}
		&:hover{
			span{
				border-color: transparent;
			}
		}
		.icon{
			color: $pink;
			font-size: 26px;
			margin-right: 14px;
		}
	}
	&__group{
		margin-bottom: rem(40);
	}
	ul{
		// margin-left: rem(30);
		list-style: none;
	}
	li{
		position: relative;
		margin-bottom: 0.5rem;
		padding-left: rem(15);
		font-size: 14px;
	}
	li::before{
		content: '';
		position: absolute;
		left: 0;
		top: em(12);
		background-color: $pink;
		width: 4px;
		height: 4px;
		border-radius: 50%;
	}
}
.map-wrapper--sm{
	height: 225px;
	position: relative;
	margin-bottom: 34px;
	iframe{
		border: none;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.modal-form{
	.map-caption{
		display: block;
		position: static;
		&__inner{
			display: block;
		}
	}
}
.mfp-container{
	padding: 0 !important;
}
#modal-map{
		@include media-breakpoint-down(sm) {
			padding-left: 15px;
			padding-right: 15px;
			.map-wrapper--sm{
				margin-bottom: 0;
			}
			h2{
				text-align: left;
				padding-top: 40px;
				margin-bottom: 15px;
			}
		}
 	@include media-breakpoint-up(lg) {
		padding: rem(66);
		max-width:1140px;
	}
	max-width:555px;

	padding-top: rem(64);
	padding: 0;
	// padding-bottom: 10px;
	h2{
		margin-bottom: 40px;
		@include media-breakpoint-up(lg){
			margin-bottom: 16px;

			text-align: left;
		}
	}
}
	@include media-breakpoint-up(lg){

		.modal-inner{
			// position: relative;
	max-width: rem(380 + 30);
	.map-caption{
		padding: 0;
	}
	
	.map-wrapper--sm,
	.map-text-block__right-groups {
		right: rem(66);
		position: absolute;
		top: rem(66);
		width: 555px;
	}
	.map-text-block__right-groups {
		top:(260px + 66px);
	}
}
}