mixin s-more()
	// start s-more
	+b.SECTION.s-more.section.section--lg.block-with-lazy#s-more&attributes(attributes)
		.container
			+b.section-title(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` ) 
				h2  Подробнее о&nbsp;Polartec®&nbsp;Power&nbsp;Air™
			ul
				li(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )  #[span(style="background: #FFCF2B;")] Power Air&trade;&nbsp;&mdash; трикотажное полотно со&nbsp;множеством небольших воздушных карманов. Этот материал по&nbsp;конструкции напоминает воздушно-пузырьковую полиэтиленовую пленку для упаковки хрупких изделий. Но&nbsp;в&nbsp;отличие от&nbsp;пленки, карманы Power Air&trade; не&nbsp;пустые, а&nbsp;заполнены теми самыми полиэфирными волокнами, из&nbsp;которых состоит привычный нам флис
				li(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )  #[span(style="background: #32CC91;")] Power Air&trade;&nbsp;&mdash; трикотажное полотно со&nbsp;множеством небольших воздушных карманов. Этот материал по&nbsp;конструкции напоминает воздушно-пузырьковую полиэтиленовую пленку для упаковки хрупких изделий. Но&nbsp;в&nbsp;отличие от&nbsp;пленки, карманы Power Air&trade; не&nbsp;пустые, а&nbsp;заполнены теми самыми полиэфирными волокнами, из&nbsp;которых состоит привычный нам флис
				li(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )  #[span(style="background: #E13EAF;")] Power Air&trade;&nbsp;&mdash; трикотажное полотно со&nbsp;множеством небольших воздушных карманов. Этот материал по&nbsp;конструкции напоминает воздушно-пузырьковую полиэтиленовую пленку для упаковки хрупких изделий. Но&nbsp;в&nbsp;отличие от&nbsp;пленки, карманы Power Air&trade; не&nbsp;пустые, а&nbsp;заполнены теми самыми полиэфирными волокнами, из&nbsp;которых состоит привычный нам флис
	// end s-more