mixin s-plan()
	// start s-plan
	+b.SECTION.s-plan.section.block-with-lazy#s-plan(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )&attributes(attributes)
		.container
			+piclazy('bg','plan-img')
			+b.section-title
				h2 Планы развития
			p В планах – пополнение ассортимента новыми предметами одежды с оригинальными принтами. Мы верим, что от экипировки зависит не только настроение, но и эффективность тренировок. Следите за нашими обновлениями!
			//- +e.btn.btn-primary(href="#") Узнать больше
	// end s-plan