extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-style/_s-style.pug
include ../blocks/s-articals/_s-articals.pug
include ../blocks/s-prod/_s-prod.pug
include ../blocks/s-about/_s-about.pug
include ../blocks/s-plan/_s-plan.pug

block title
	title title

block pagecontent
	//- .container
	//- 	+in-c("","adasd")
	//- 	+form-wrap
	//- 		+input("placeholder","email","", '') 
	//- 		+input("placeholder","tel","") 
	//- 		+input("placeholder","text","") 
	//- 		+input("placeholder","text","label") 
	//- 		+input("placeholder","textarea","") 
	//- 		+input("placeholder","textarea","label") 
	//- 		+input("","textarea","") 
	//- +pugin()
	// повесь этот класс на body .not-main-page  я в сборке не могу
	.not-main-page

		+header()
			//- +top-line()
			+top-nav()
			//- +header-block()
		.container
			+breadcrumb("Каталог","Все")
		+b.page-title
			.container
				.row
					.col-xl-auto.text-xl-left.text-center
						h1 Каталог 
					.col
						.row.justify-content-xl-end.justify-content-center
							+e.item.col-md-auto.col-4
								+e.color(style="background-color: #ffcf2b;")
								.small Материалы из&nbsp;Европы
							
							+e.item.col-md-auto.col-4 
								+e.color(style="background-color: #e13eaf;")
								.small Авторские принты
							
							+e.item.col-md-auto.col-4
								+e.color(style="background-color: #32cc91;")
								.small Контроль качества

				.row.row--sm.justify-content-xl-start.justify-content-center
					.col-sm-auto.col-4
						+e.btn-head.active(href="#") всё
					.col-sm-auto.col-4
						+e.btn-head(href="#") для мужчин
					.col-sm-auto.col-4
						+e.btn-head(href="#") для женщин

				+e.sub-category.mnu-slider-js.swiper-container
					.swiper-wrapper
						.swiper-slide
							+e.btn-head--sm(href="#") терморегулирующее белье
						.swiper-slide
							+e.btn-head--sm(href="#") футболки и майки
						.swiper-slide
							+e.btn-head--sm(href="#") поло
						.swiper-slide
							+e.btn-head--sm.active(href="#") худи и свитшоты
						.swiper-slide
							+e.btn-head--sm(href="#") брюки
						.swiper-slide
							+e.btn-head--sm(href="#") куртки и жилеты
						.swiper-slide
							+e.btn-head--sm(href="#") велоформа

		//- +s-style
		+s-prod-2()
		+s-articals2
		//- .block-wrapper.container.p-0
		//- 	+s-about
		//- 	+s-plan
		//- +s-form()
		//- +s-contact()
		+footer()

