extends layout/main.pug


//- include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
//- include ../blocks/s-style/_s-style.pug
//- include ../blocks/s-articals/_s-articals.pug
include ../blocks/s-prod/_s-prod.pug
//- include ../blocks/s-about/_s-about.pug
//- include ../blocks/s-plan/_s-plan.pug
//- include ../blocks/prod-head/_prod-head.pug
//- include ../blocks/prod-body/_prod-body.pug
include ../blocks/s-shipping/_s-shipping.pug
include ../blocks/s-checkout/_s-checkout.pug
include ../blocks/s-pay/_s-pay.pug
include ../blocks/s-faq/_s-faq.pug

block title
	title Доставка и оплата

block pagecontent

	// повесь этот класс на body .not-main-page  я в сборке не могу
	.not-main-page

		+header()
			//- +top-line()
			+top-nav()
			//- +header-block()
		//- .page-title
		.container 
			+breadcrumb("Доставка и оплата")
			h1 Доставка и&nbsp;оплата
		+s-shipping
		+s-pay
		.container
			.hr
		+s-faq
		//- +s-prod-7()
		//- +s-prod-7()
		//- +s-contact-404()
		//- +footer()
		+footer()
		//- .basket-footer

