mixin s-about-page()
	// start s-about-page
	+b.SECTION.s-about-page.block-with-lazy#s-about-page&attributes(attributes)
		.container
			.row.section(class="wow fadeInUp" data-wow-duration=`${dur * 2}s`    )

				.col 
					h2 live in motion!
					p Мы&nbsp;с&nbsp;детства увлечены спортом и&nbsp;сейчас посвящаем ему большую часть своего свободного времени.

					p За&nbsp;многие годы своих спортивных увлечений мы&nbsp;имели возможность использовать спортивную одежду и&nbsp;экипировку большинства мировых брендов. И&nbsp;далеко не&nbsp;всегда продукция этих производителей нас удовлетворяла.

					p В&nbsp;результате мы&nbsp;создали такую одежду, которая отвечает в&nbsp;большей степени запросам клиентов и&nbsp;нашим собственным потребностям, и, при этом, не&nbsp;уступает мировым аналогам.
					+e.btn(href="#") В магазин
				+e.col.col-lg-5.order-lg-first
					picture.lazy
						// webp images
					 
						img(src='img/@2x/about-page.png' alt='')
			.section(class="wow fadeInUp" data-wow-duration=`${dur * 2}s`  data-wow-offset="250" )
				h2.mb-0 Наша жизненная парадигма&nbsp;&mdash; быть не&nbsp;просто объектом происходящих изменений, а&nbsp;активно управлять ими.
		 
			.section.row(class="wow fadeInUp" data-wow-duration=`${dur * 2}s`  data-wow-offset="250" )

				+e.col.col 
					p Прогресс, как и&nbsp;мода, не&nbsp;стоит на&nbsp;месте. В&nbsp;производстве одежды для спорта и&nbsp;отдыха появляются не&nbsp;только новые формы, стили, но&nbsp;и&nbsp;новые материалы. В&nbsp;ходе проработки нашего проекта мы&nbsp;постоянно изучаем рынок и&nbsp;имеем возможность сравнивать самые различные варианты и&nbsp;сочетания материалов, их&nbsp;структуру и&nbsp;компоненты.

					p Мы&nbsp;не&nbsp;стремимся за&nbsp;максимальной выгодой, используя несоответствующие материалы, так как сами активно используем нашу одежду.
				+e.col.col-lg-5
					+e.video-wrap.video-background
						.video-fallback
						.video-container
							video#bgvid.fillItUp.video(poster='img/@2x/video.jpg', playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop')
								source(src='video.mp4', type='video/mp4')
	// end s-about-page