.form-wrap{
	&__input-wrap{
		@extend .form-group;
		
		margin-bottom: rem(19);
		}
		&__input{
			@extend .form-control;
			
		//  outline: 0 !important;
		 resize: none;
		//  text-transform: uppercase;
 	}
 	&__btn{
		 cursor: pointer;
		 @extend .btn-primary;
		 width: 100%;
		 display: block;
 	}
 	label{
 		width: 100%;
 		display: block;
	 }
	 textarea{
		 height: rem(202);
	 }

	 &__text-sub{
		 padding-top: rem(10);
		//  margin-bottom: rem(20);
		
		 @include media-breakpoint-down(sm) {
			br{

				 display: none;
				}
		 }
	 }
}


.parsley-error{
	border-image: none;
	border: 2px solid  red !important;
	color: red;
	outline: 0 !important;
	 
}
.parsley-success{
	border: 2px solid  #00d600 !important;

}
.parsley-errors-list{
	color: red;
}

// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}




.custom-input{
	display: block;
	margin: auto;
	 
	margin-bottom: rem(30);
	cursor: pointer;
	position: relative;
	padding-left: rem(45px);
	display: inline-block;
	// margin-bottom: rem(10);
	&__input{
		position: absolute;
		// opacity: 0;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0 );
		overflow: hidden;
	}
	&__lab{
		left: 0;
		display: block;
		top: rem(-9); 
		width: rem(36);
		height: rem(36);
		border: 1px solid #000000;
		@include mt;
		position: absolute; 
		margin-right: 10px;
		@include mt;
		&::after{  
			content: '';
			position: absolute;
			@include a-cent; 
			opacity: 0;
			@include mt;
		}

	}
 
	&__input[type="checkbox"] + &__lab{
		&::after{ 
			content:   url(../img/svg/checkbox-lg.svg);
			position: absolute;
			left: 50%;
			top: 50%;
			bottom: auto;
			right: auto;
			@include transform(translateX(-50%) translateY(-50%) scale(0)) ;
			opacity: 0;
			margin-top: rem(5);
			
		}
	}

	&__input[type="radio"] + &__lab{ 
		border-radius: 50%;
		top: 0;
		&::after{ 
			border-radius: 50%;
			top: 100%;
			// opacity: 1;
		}
	}

	&__input[type="checkbox"]:checked + &__lab{
		&::after{
	
			@include transform(translateX(-50%) translateY(-50%) scale(1)) ;
			// opacity: 1;
		}
	}
	&__input[type="radio"]:checked + &__lab{
		&::after{
	
			opacity: 1;
			top: 50%;
		}
	}
	&__input:checked + &__lab{

		// background-color: $success;
		 
		&::after{
	
			opacity: 1;
		}
	}
 
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	background-image: url(../img/svg/chevron-down.svg);
				// border-color: $success transparent transparent transparent;
				border: none;
				width: rem(17);
				height: rem(9px);
				background-size: 100%;
				right: rem(20);
				@include a-cent(y);
}
.select2-container--default{
	display: block;
	outline: 0 !important; 
	.select2-selection--single{
		@extend .form-control;
	 
		padding-right: rem(37);
		text-transform: uppercase;
		.select2-selection__arrow b{
			// background-image: url(../img/svg/chevron-down.svg);
			// 	// border-color: $success transparent transparent transparent;
			// 	border: none;
			// 	width: rem(17);
			// 	height: rem(9px);
			// 	background-size: 100%;
			// 	right: rem(20);
			display: none;
				// border-width: 7px 7px 0 7px;
			
		}
		.select2-selection__rendered{
			white-space: normal;
		 
			 padding-left: 0;
			 padding-bottom: 5px;
		}
	}
} 
.select2-container--default.select2-container--open .select2-selection--single {
	border: 1px solid #BDBDBD;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow  {
	background-image: url(../img/svg/chevron-up.svg);
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color:  #F2F2F2;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #DCEEBB;
	color: $body-color;
}

.select2-results__option{
	// @include media-breakpoint-down(xs){

	// 	padding: rem(20 * $m) rem(20 * $m);
	// 	font-size: rem(14 * $m);
	// }
	padding: rem(20) rem(20);
	font-size: rem(14);
	border-top: 1px solid #BDBDBD;
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: rem(60 * 4);
	overflow-y: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 1.4;
}
.select2 {
	width:100%!important;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		padding-bottom: 0;
		// line-height: inherit;
		line-height: 2;
	} 