mixin s-form()
	// start s-form
	+b.s-form.section.block-with-lazy#s-form&attributes(attributes)
		.container
			.row
				.col-4
					+b.section-title
						h2 Поделиться идеей
						p Если у&nbsp;вас есть пожелания по&nbsp;ассортименту и&nbsp;принтам&nbsp;&mdash; поделитесь, и&nbsp;мы&nbsp;возьмем  ваши идеи на&nbsp;вооружение.
					+form-wrap()
						+input('Ваше имя*')
						+input('  Ваш телефон','tel')
						+input('  Ваш e-mail*','email') 
						+e.input-wrap
							textarea.form-control(placeholder="Ваша идея"  )
						+e.btn(type="submit") Отправить
				.col
					+piclazy('form-img','jpg','576px','bg')
	// end s-form