.s-payment {
	padding-bottom: rem(78);

	&__inner {
		background: #FFFFFF;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
		padding: rem(45) rem(40) rem(80);

		img {
			margin-bottom: rem(25);
		}
	}

	&__btn-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -15px;
		margin-right: -15px;
		flex-wrap: wrap;
	}

	&__btn {
		@extend .btn;
		width: rem(358);
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: rem(30);
	}

	.btn-outline-dark {
		border: 1px solid #000000;

		&:hover {
			opacity: 0.6;
		}
	}

	.text-succes {
		color: #32cc91;
	}

	&__title {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: rem(30);
	}

	p {
		margin-left: auto;
		margin-right: auto;
		max-width: rem(550);
		margin-bottom: rem(40);

		&.warning {

			max-width: rem(850);
		}

		a {
			display: inline-block;
			// font-weight: bold; 
		}
	}

	&__small {
		text-align: center;
		font-size: rem(14);
		// margin-left: auto;
		// margin-right: auto;
	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}