 
	  
.soc{
	display: flex;
	margin: 0 rem(-5px);
	&__item{
		margin: 0 rem(5px);
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: block;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			opacity: .6 ;
		}
		
	}
	.icon{
	font-size: rem(30);
	color: transparent;
	stroke: $body-color;
	stroke-width: 2px;
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}


.count-block{
	font-weight: bold;
	display: flex;
	align-items: center;
	&__btn{
		padding: rem(5.01) rem(5);
		cursor: pointer;
	}
	input{
		font-weight: bold;
		text-align: center;
		width: auto;
		border: none;
		outline: none !important;
		// width: rem(40);
		max-width: rem(40);
		// width: auto;
		flex-grow: 1;
		font-size: 1rem;
		padding: 0;
		height: auto;
		display: inline-block;
	}
}
