mixin text-block()
	+e.text-block
		block
		
		+e.title live in motion!
		p Одежда для тренировок и&nbsp;активного отдыха, которая будет вас радовать и&nbsp;вдохновлять на&nbsp;новые победы
		+e.btn-wrap
			+e.btn.btn-primary.popup-with-move-anim(href="#modal-call") Купить
			+e.btn.btn-outline(href="#") О бренде

mixin header-block()
	// start header-block
	+b.header-block#header-block
		.d-xl-none
			+e.mob-block
				.container
					+text-block()
			+e.img-wrap.text-center
				+piclazy('','head-mobile')
		.d-none.d-xl-block
			+e.slider.slider--js.swiper-container
				.swiper-wrapper 
					+e.slide.swiper-slide
						+pic('bg','1')
						.container
							+text-block()
								+e.logo(href="#")
									+icon('logo')
					
					+e.slide.swiper-slide
						+pic('bg','header-sl_2')
						.container
							+text-block()
								+e.logo(href="#")
									+icon('logo')

					+e.slide.swiper-slide
						+pic('bg','header-sl_3')
						.container
							+text-block()
								+e.logo(href="#")
									+icon('logo')
					
			.container
				+e.slider-control
					.swiper-pagination
					.swiper-counter
	// end header-block