mixin text-block()
	+e.text-block
		block
		
		+e.title live in motion!
		p Одежда для тренировок и&nbsp;активного отдыха, которая будет вас радовать и&nbsp;вдохновлять на&nbsp;новые победы
		+e.btn-wrap
			+e.btn.btn-primary.popup-with-move-anim(href="#modal-call") Купить
			+e.btn.btn-outline(href="#") Lookbook

mixin header-block()
	// start header-block
	+b.header-block#header-block
		.d-xl-none
			+e.mob-block
				.container
					+text-block()
			+e.img-wrap.text-center
				+piclazy('','head-mobile')
		.d-none.d-xl-block
			+e.slider.slider--js.swiper-container
				.swiper-wrapper
					- for (var x = 0; x < 3; x++)
						+e.slide.swiper-slide
							+pic('bg','header-sl')
							.container
								+text-block()
									+e.logo(href="#")
										+icon('logo')
			+e.slider-control
				.swiper-pagination
				.swiper-counter
	// end header-block