
mixin prod(i,t,s="sl")
	+b.item-prod()
		+e.img-wrap(href="#")
			if s == "sl"
				+pic('bg', 'prod-'+i) 
			else
				+piclazy('bg', 'prod-'+i) 
		+e.title.small= t 
		+size()
		.strong 4567 ₽ 
 

mixin s-prod()
	// start s-prod
	+b.s-prod.section.block-with-lazy(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )#s-prod&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Наши товары
				
			+e.slider--js.swiper-container
				.swiper-wrapper
					+e.slide.swiper-slide
						+prod('1','Футболка мужская "Даунхилл"  ')
					+e.slide.swiper-slide
						+prod('2','Худи женское "organic design and the wooden architecture of russia"  ')
					+e.slide.swiper-slide
						+prod('3','Вельветовые суженные книзу строгие брюки фиолетового цвета заниженного кроя live in motion design')
			+e.btn-more.btn-outline(href="#") Смотреть все
	// end s-prod

mixin s-prod-2()
	// start s-prod
	+b.s-prod.section.block-with-lazy(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )#s-prod&attributes(attributes)
		.container
			
			.row
				 
				- for (var x = 0; x < 3; x++)
					+e.col.col-md-4.col-6
						+prod('1','Футболка мужская "Даунхилл"  ',"")
					+e.col.col-md-4.col-6
						+prod('2','Худи женское "organic design and the wooden architecture of russia"  ',"")
					+e.col.col-md-4.col-6
						+prod('3','Вельветовые суженные книзу строгие брюки фиолетового цвета заниженного кроя live in motion design',"")
			+e.btn-more.btn-outline.w-100(href="#") Показать ещё 9 товаров
	// end s-prod

