.s-prod {


	&__btn-more{
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: rem(263);
		margin-bottom: rem(29);
	}
	&__col{
		margin-bottom: rem(57);

	}
	&__slide{
		height: auto;
		margin-bottom: rem(32);
	}
	@include media-breakpoint-down(sm) {

	 
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}

.item-prod{
	display: flex;
	flex-direction: column;
	height: 100%;
	&__img-wrap{
		margin-bottom: rem(10);
		@include block(360,300);
		margin-bottom: 12px;
		display: block;
		overflow: hidden;
		@include media-breakpoint-up(xl) {

			&:hover{
				picture{
					transform: scale(1.1);
				}
			}
		}
		picture{
			transition: all 1s ease-out;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__title{
		// flex-grow: 1;
		margin-bottom: auto;
		padding-bottom: rem(12);
	}
	.sizes-block{
	 
		&__size-item{
			max-width: rem(68px);
		}
	}
}
.sizes-block{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: rem(12);
	&__size-item{
		max-width: rem(142px);
		flex-grow: 1;
		cursor: pointer;
	}
	&__lab{
		display: flex;
		justify-content: center;
	align-items: center;

	height: rem(40px);
	border: 1px solid $body-color;
	@extend .small;
	margin-right: rem(5);
	margin-bottom: rem(5);

}
input{
	@extend .invisible;
}
input:checked + &__lab{
	background-color: $success;
}
}