mixin s-articals()
	// start s-articals
	+b.s-articals--main.section.block-with-lazy(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )#s-articals&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Сделано с любовью
				
			.row
				mixin item(i,t1, p)
					+e.col.col-sm-6
						+e.item()
							+e.img-wrap--main
								+piclazy('bg','made-'+i,'jpg',0) 
							+e.title= t1
							.small= p
					// /+e.col.col-sm-6
				+item('1','Удобство и практичность','Подбор ткани для каждого изделия')
				+item('2','Совершенство в деталях','Контроль производства на каждом этапе')
				+item('3','Яркая индивидуальность','Авторские принты')
				+item('4','Соотношение цены и качества','Производство в России')
			+e.btn(href="#") Узнать подробнее
	// end s-articals

mixin s-articals2()
	// start s-articals
	+b.s-articals.section.block-with-lazy#s-articals(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )&attributes(attributes)
		.container
		 
			.row
				mixin item(i)
					+e.col--card.col-4.text-center
						+e.item()
							+e.img-wrap
								+piclazy('','q-'+i,'jpg',0) 
							block
					// /+e.col
				+item('1','')
					+e.title 14&nbsp;дней на&nbsp;возврат
				+item('2','')
					+e.title Удобные способы оплаты
				+item('3','Доставка по всему миру') 
					+e.title Доставка по&nbsp;всему миру
	// end s-articals

