
mixin accord(t) 
	+b.accord(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )
		+e.head
			+e.inner= t
				+e.before
		+e.body
			p Чтобы получить заказ может потребоваться паспорт. 
				br
				| Пожалуйста, возьмите его на всякий случай.
mixin s-faq()
	// start s-faq
	+b.SECTION.s-faq.section.block-with-lazy#s-faq&attributes(attributes)
		.container
			+b.section-title(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )
				h2 Ответы на частые вопросы 
			+accord('Когда привезут мой заказ?')
			+accord('Как происходит оплата?')
			+accord('Поднимут ли заказ на этаж?')
			+accord('Где взять чек и информацию об оплате?')
			+accord('Что нужно для получения заказа?')
			+e.foot-wrap(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )
				+e.foot
					.row
						.col-lg-auto.col
							+e.foot-text Не нашли интересующий вас вопрос? Задайте свой
						.col-sm-auto
							+e.btn(href="#") Задать вопрос
	// end s-faq