mixin s-contact()
	// start s-contact
	+b.s-contact.section.block-with-lazy#s-contact(class="wow fadeIn" data-wow-duration=`${dur * 2}s` )&attributes(attributes)
		.container
			+b.section-title.d-lg-none.text-center
				h1  Контакты
				+e.link(href="#") Скачать реквизиты компании
			.row
				+e.col.col-lg-auto.col-sm-5
					+b.section-title.d-none.d-lg-block
						h1  Контакты
						+e.link(href="#") Скачать реквизиты компании
					+e.group
						+e.title
							a(href="tel:8(999)999-99-99") 8 (999) 999 - 99 - 99
						+e.small с 18:00 до 20:00 ежедневно
					+e.group
						+e.title
							a(href="mailto:info@liveinmotion.ru") info@liveinmotion.ru
					
					+e.group
						+e.title Задавайте вопросы
						+b.soc
							mixin item()
								+e.A.item(href="#" target="_blank")
									block
							+item()
								+icon('whatsapp')
							+item()
								+icon('telega')
							+item()
								+icon('skype')
					+e.group
						+e.title Мы в соц. сетях:
						+soc()
					
				.col.d-none.d-sm-block
					+pic('bg','contact-img')
				
	// end s-contact

mixin s-contact-404()
	// start s-contact
	+b.s-contact.section.block-with-lazy#s-contact(class="wow fadeInUp" data-wow-duration=`${dur * 2}s` )&attributes(attributes)
		.container 
			+e.line-block
				.row.justify-content-between
					.col-lg-4
						+e.group
							+e.title Задавайте вопросы
							+b.soc
								mixin item()
									+e.A.item(href="#" target="_blank")
										block
								+item()
									+icon('whatsapp')
								+item()
									+icon('telega')
								+item()
									+icon('skype')
					.col-lg-4
						+e.group
							+e.title Мы в соц. сетях:
							+soc()
	// end s-contact

