.s-pay {

	h2{
		@include media-breakpoint-up(sm) {

			max-width: rem(490);
		}
	}
	padding-top: rem(65);
	p{
		font-size: rem(16);
	}
	&__head-text{
				@include media-breakpoint-up(lg) {
		
					max-width: rem(300);
				}

	}
	.container{
		position: relative;
		
	}
	&__warning{
		@include media-breakpoint-up(sm) {

			margin-top: rem(102);
		}
		margin-top: rem(32);
		border-top: 1px solid rgba($color: #333333, $alpha: .2);
		border-bottom: 1px solid rgba($color: #333333, $alpha: .2);
		padding-top: rem(95);
		padding-bottom: rem(102);
		line-height: 1.82;
		@include media-breakpoint-up(sm) {
		img{


				position: relative;
				top: rem(5);
			}
		}
	}
			@include media-breakpoint-up(sm) {
				text-align: left;
			}
			text-align: center;
	h2{
		padding-top: rem(30);
	}
	&__row{
		padding-top: rem(50);
		// margin-bottom: rem(30);
		@include roww(25);
		p{
			max-width: rem(300);
			line-height: 1.5;
			// padding-bottom: 0;
			@include media-breakpoint-up(sm) {
				margin-right: 0;
				margin-left: 0;
			 
			}
			padding-bottom: rem(30);
			margin-left: auto;
			margin-right: auto;
		}
		img{
			max-height: 100%;
		}
	}
	&__icon-wrap{
		height: rem(130);
		line-height: rem(130);
		vertical-align: middle;
		margin-bottom: rem(5);
	}
	&__title{
		// text-decoration: underline;
		text-transform: uppercase;
		font-weight: bold;
		@include rfs(rem(25));
		margin-bottom: rem(4);
	}

	&__line-right{
		@include media-breakpoint-up(lg) {
			
			margin-left: auto;
			width: rem(292px);
			height: rem(501);
			text-align: left;
			padding-top: rem(70);
			align-items: flex-start;
		} 
		text-align: center;
		// height: rem(240);
		padding: rem(35) 0;
		background-image: linear-gradient(0deg, #32CC91, #32CC91), linear-gradient(0deg, #FFCF2B, #FFCF2B), linear-gradient(180deg, #96CD2E 0%, #32CC91 100%);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__img-wrap{
		font-size: $small;
		font-weight: 400;
		line-height: 1.71;
		// Text style for "PCI DSS"
		color: #0d6b71;
	}
	&__line-text{
		@include media-breakpoint-up(lg) {

			max-width: rem(240);
			text-align: left;
		}
		text-align: center;
		max-width: rem(486);
		margin-left: auto;
		margin-right: auto;
		padding-top: rem(34);
	}
 
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}